:root{
  --fundo: 	#93a6df;
  --cor-frente:#1E90FF;
  --cor-verso:#87CEFA;
  --destaque:#288aaa;
  --preto:	#000000;
  --branco: #ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    position:absolute;
    bottom:0;
    background-color: var(--preto);
    color: var(--branco);
    width:100% ;
    text-align: center;
}